.header {
  width: 100%;
  height: 100px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.body {
  width: 100%;
  height: calc(100vh - 100px);
  background-color: greenyellow;
}

.main_title {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  font-size: 45px;
  font-weight: 500;
  font-family: "ONE-Mobile-POP";
}

@font-face {
  font-family: "ONE-Mobile-POP";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
